#about-us-banner img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

#committee {
    box-sizing: border-box;
    padding: 2% 8% 5% 8%;
}

#committee h2 {
    font-weight: 500;
    padding-bottom: .5em;
    color: var(--red);

    @media(orientation: portrait) {
        font-size: 40px;
    }
}

#committee #members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2em;
    row-gap: 2em;

    @media(orientation: portrait) {
        flex-direction: column;
    }
}

#committee #members .member {
    display: flex;
    flex-direction: column;
    width: max(23%, 25vh);

    @media(orientation: portrait) {
        width: max(100%);
        margin-bottom: 10%;
    }
}

#committee #members .member .img-container {
    width: 100%;
    aspect-ratio: 37/39;
    overflow: hidden;
}

#committee #members .member .img-container img {
    width: 100%;
    aspect-ratio: 37/39;
    object-fit: cover;
}


#committee #members .member h3 {
    padding-top: 1em;
    letter-spacing: 1px;
    font-size: 24px;
}

#committee #members .member p {
    font-size: 20px;
    letter-spacing: 1px;
}

#committee #members .member .role {
    color: var(--blue);
    padding-bottom: 1em;
    letter-spacing: 1px;
}

#professors {
    display: grid;
    grid-template-areas:
        "title title"
        "prof1 prof2";

    box-sizing: border-box;
    padding: 2% 10% 5% 10%;

    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
}

#professors h2 {
    font-weight: 500;
    padding-bottom: .5em;
    color: var(--red);

    @media(orientation: portrait) {
        font-size: 40px;
    }
}

#professors .professor {
    display: flex;
    flex-direction: column;
}

#professors .professor img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

#professors .professor h3 {
    padding: 1em 0 1em 0;
    font-size: 30px;

    @media(orientation: portrait) {
        padding: 0.5em 0 0.5em 0;
    }
}

#professors .professor p {
    font-size: 20px;
}

#professors #prof1 {
    grid-area: prof1;
}

#professors #prof2 {
    grid-area: prof2;
}