.container {

}

.container h2 {
    margin: 1em 0 1em 0;
}

.container .top-line {
    width: 100%;
    height: 1px;
    background-color: black;
    padding: 0;
}

.container .collapsible {
    display: grid;
    grid-template-areas:
        "title expander"
        "text text";
    cursor: pointer;

    border-style: solid;
    border-width: 0 0 1px 0;
}

.container .collapsible .expander {
    grid-area: expander;
    display: block;
    align-self: center;
    justify-self: end;
    font-size: 30px;
    font-weight: 200;
}

.container .collapsible h4 {
    grid-area: title;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 1em 0 1em 0;
}

.container .collapsible p {
    grid-area: text;
    font-size: 20px;
    padding-bottom: 1em;
    display: none;
}

.container .collapsible.open p {
    display: block;
}