.container {
    @media (pointer: fine) {
        --collapsible-header: 32px;
        --collapsible-text: 20px;
    }
    @media (pointer: coarse) {
        --collapsible-header: 64px;
        --collapsible-text: 40px;
    }
    @media (pointer: coarse) and (orientation: landscape) {
        --collapsible-header: 32px;
        --collapsible-text: 20px;
    }

    color: var(--red)
}

.container h2 {
    margin: 1em 0 1em 0;
}

.container .top-line {
    width: 100%;
    height: 1px;
    background-color: var(--red);
    padding: 0;
}

.container .collapsible {
    display: grid;
    grid-template-areas:
        "title expander"
        "text text";
    grid-template-columns: auto min-content;
    cursor: pointer;

    border-style: solid;
    border-width: 0 0 3px 0;
}

.container .collapsible .expander {
    grid-area: expander;
    display: block;
    align-self: center;
    justify-self: end;
    font-size: var(--collapsible-header);
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: var(--red);
}

.container .collapsible h4 {
    grid-area: title;
    font-size: var(--collapsible-header);
    font-weight: 500;
    margin: 0;
    padding: 1em 0 1em 0;
}

.container .collapsible p {
    grid-area: text;
    font-size: var(--collapsible-text);
    padding-bottom: 1em;
    display: none;
    color: var(--black);
}

.container .collapsible.open p {
    display: block;
}