#opening-section {

}

#opening-section #photo-banner {
    width: 100%;
    height: 30vh;

    object-fit: cover;
}

#opening-section #introduction {
    display: grid;
    grid-template-areas:
        "title image"
        "text image"
        "contact image";

    grid-template-columns: auto min-content;
    grid-template-rows: min-content auto min-content;
    box-sizing: border-box;
    padding: 5% 10% 5% 10%;
}

#opening-section #introduction h2 {
    grid-area: title;
}

#opening-section #introduction p {
    grid-area: text;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}

#opening-section #introduction a {
    grid-area: contact;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 100px;
    font-weight: 500;
    padding: .8em 1.6em .8em 1.6em;
    text-decoration: none;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    align-content: center;
    justify-items: center;
    letter-spacing: 2px;
}

#opening-section #introduction img {
    grid-area: image;
    max-height: 40vh;
    align-self: center;
    justify-self: end;
}

.companies-quote {
    background-color: var(--blue);
    color: white;
    letter-spacing: 2px;

    box-sizing: border-box;
    padding: 5% 10% 5% 10%;
}

.companies-quote .quote-text {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2%;
}

.companies-quote .quote-author {
    font-size: 20px;
}

#process {
    background-color: var(--dark-white);
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 5% 10% 5% 10%;

    row-gap: 1em;
}

#process h2 {
    font-weight: 500;
    text-align: center;
}

#process .card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 3%;

    display: grid;
    grid-template-areas:
        "image title"
        "image text";

    grid-template-columns: 40% auto;
    grid-template-rows: 15% auto;
    column-gap: 5%;
}

#process .card img {
    grid-area: image;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#process .card h3 {
    grid-area: title;
    font-size: 30px;
    font-weight: 500;
}

#process .card p {
    grid-area: text;
    font-size: 20px;
    letter-spacing: 1px;
}

#packages {
    background-color: var(--dark-white);
    box-sizing: border-box;
    padding: 5% 10% 5% 10%;

    display: grid;
    grid-template-areas:
        "title title"
        "card1 card2"
        "card3 card4";

    column-gap: 1%;
    row-gap: 2%;
}

#packages h2 {
    grid-area: title;
}

#packages .card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 5%;

    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#packages .card h3 {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 2px;
}

#packages .card p {
    font-size: 18px;
    letter-spacing: 1px;
}

#packages .card .days {
    color: var(--light-gray);
    letter-spacing: 2px;
}

#packages .card .set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: .5em;
    row-gap: .5em;
}

#packages .card .set .part {
    background-color: var(--white);
    color: var(--blue);
    border-style: solid;
    border-width: 2px;
    border-color: var(--blue);
    border-radius: 100px;
    padding: .25em .5em .25em .5em;
    opacity: 0.2;
}

#packages .card .set .part.selected {
    background-color: var(--blue);
    color: var(--white);
    opacity: 1;
}

#packages #card1 {
    grid-area: card1;
}

#packages #card2 {
    grid-area: card2;
}

#packages #card3 {
    grid-area: card3;
}

#packages #card4 {
    grid-area: card4;
}

#seperator {
    width: 100%;
    height: 5px;
    background-color: var(--pink);
}

#sounds-interesting {
    background-color: var(--white);
    box-sizing: border-box;
    padding: 2.5%;

    display: flex;
    flex-direction: column;
    row-gap: 1.8em;

    align-items: center;
}

#sounds-interesting h2 {
    letter-spacing: 3px;
}

#sounds-interesting h3 {
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 1em;
}

#sounds-interesting a {
    background-color: var(--blue);
    color: var(--white);

    text-decoration: none;

    border-radius: 100px;
    padding: .8em 1.6em .8em 1.6em;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
}
