#opening-section {}

#banner {
    position: relative;
    width: 100%;

    display: grid;
    grid-template-areas:
        "title"
        "buttons";

    box-sizing: border-box;
    padding: 5vw;

    color: var(--white);
    background-color: transparent;
}

#banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
        linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)),
        url("../assets/banners/companies-banner.png");
    background-size: cover;
    background-position: center;
    filter: blur(0.08em);
    z-index: -1;
}

#banner h2 {
    grid-area: header;
    margin-top: 1.25em;
    margin-bottom: .5em;
}

#banner h1 {
    grid-area: title;
    width: 75%;
    margin-top: 1.25em;
    line-height: 1.1;
    margin-bottom: 0.5em;
}

#banner #buttons {
    grid-area: buttons;
    margin-bottom: 9em;

    display: flex;
    flex-direction: row;
    column-gap: 3%;
    flex-wrap: wrap;
    align-items: center;
}

#banner #buttons a {
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
    border-radius: 100px;
    box-sizing: border-box;
    padding: .5em 2em .5em 2.5em;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#banner #buttons #students-button {
    background-color: var(--white);
    border-color: var(--blue);
    color: var(--blue);
}

@keyframes rotate-partners {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -2000px 0
    }
}

#partners {
    position: relative;

    width: 100%;
    height: 8em;

    background-image: url("../assets/companies.svg");
    background-size: 2000px 100%;
    background-repeat: repeat-x;

    animation: rotate-partners 60s linear infinite;
    margin-top: 1em;
}

#partners h3 {
    position: absolute;
    font-size: 18px;
    font-weight: normal;
    left: 50%;
    transform: translateX(-50%);

    @media (pointer: coarse) and (orientation: landscape) {
        margin-top: -0.8em;
    }
}

#process {
    background-color: var(--white);
    box-sizing: border-box;
    padding: 0% 10% 5% 10%;
}

#process h1 {
    font-weight: 500;
    text-align: left;
    grid-area: header;
}

#process .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    column-gap: 3vw;
    align-items: flex-start;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2rem;

    @media(orientation: portrait) {
        flex-direction: column;
    }
}

#process .cards .card {
    background-color: var(--white);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    color: var(--red);
    border-color: var(--red);
    box-sizing: border-box;
    padding: 2em;
    width: calc(50% - 8vw);
    margin-left: 3vw;
    margin-right: 3vw;

    @media(orientation: portrait) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

#process-card2 {
    margin-top: 14rem;

    @media(orientation: portrait) {
        margin-top: 0;
    }
}

#process-card3 {
    margin-top: -16rem;

    @media(orientation: portrait) {
        margin-top: 0;
    }
}

#process-card4 {
    margin-top: 7rem;

    @media(orientation: portrait) {
        margin-top: 0;
    }
}

#process-card5 {
    margin-top: -14rem;

    @media(orientation: portrait) {
        margin-top: 0;
    }
}

#process .cards .card img {
    width: 100%;
    height: 22.5em;
    object-fit: cover;
    border-radius: 15px;
}

#process .cards .card h3 {
    font-size: 30px;
    font-weight: 500;
    padding-left: 0.25em;
}

#process .cards .card p {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--black);
    font-weight: 300;
}

.companies-quote {
    background-color: var(--red);
    color: white;
    letter-spacing: 2px;

    box-sizing: border-box;
    padding: 3% 10% 3% 10%;
}

.companies-quote .quote-text {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2%;
}

.companies-quote .quote-author {
    font-size: 20px;
}

#packages {
    box-sizing: border-box;
    padding: 0% 10% 5% 10%;

    row-gap: 1em;
    column-gap: 1.5em;
    background-color: var(--white);

    display: grid;

    @media (orientation: landscape) {
        grid-template-areas:
            "title title"
            "card1 card2"
            "card3 card4"
            "note note";
    }

    @media (orientation: portrait) {
        grid-template-areas:
            "title"
            "card1"
            "card2"
            "card3"
            "card4"
            "note";
    }


}

#packages h1 {
    grid-area: title;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

#packages .card {
    background-color: var(--white);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    color: var(--red);
    border-color: var(--red);
    box-sizing: border-box;
    padding: 5%;
    margin-bottom: 2.5%;

    display: flex;
    flex-direction: column;
    row-gap: 1em;

    align-items: start;
}

#packages .card h3 {
    letter-spacing: 2px;
}

#packages .card p {
    letter-spacing: 1px;
    font-size: 20px;
    color: var(--black);
}

#packages .card .location {
    font-weight: 300;
}

#packages .card .days {
    font-weight: bold;
}

#packages .card img {
    width: 15%;
    aspect-ratio: 1 / 1;
}

#packages #packages-card1 {
    grid-area: card1;
}

#packages #packages-card2 {
    grid-area: card2;
}

#packages #packages-card3 {
    grid-area: card3;
}

#packages #packages-card4 {
    grid-area: card4;
}

#sounds-interesting {
    background-color: var(--white);
    box-sizing: border-box;
    padding: 0% 10% 5% 10%;

    display: flex;
    flex-direction: column;
}

#sounds-interesting h1 {
    margin-top: 1em;
}

#sounds-interesting h3 {
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 1.5em;
}

#sounds-interesting #buttons {
    grid-area: buttons;
    margin-bottom: 8em;

    display: flex;
    flex-direction: row;
    column-gap: 3%;
    flex-wrap: wrap;
    align-items: center;
}

#sounds-interesting a {
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
    border-radius: 100px;
    box-sizing: border-box;
    padding: .5em 2em .5em 2.5em;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}