#banner {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

#information {
    box-sizing: border-box;
    padding: 2% 10% 5% 10%;

    display: flex;
    flex-direction: column;

    @media (orientation: landscape) {
        width: 70%;
    }
    @media (orientation: portrait) {
        width: 100%;
    }
}

#information h2 {
    font-weight: 500;
    margin-bottom: .5em;
    letter-spacing: 2px;
    color: var(--red)
}

#information p {
    letter-spacing: 1px;
    grid-area: description;
    margin-bottom: 1em;
}

#information a {
    text-decoration: underline;
    color: var(--red);
    letter-spacing: 1px;
}