footer {
    width: 100%;

    display: grid;
    @media (orientation: landscape) {
        grid-template-areas:
            "logo links";
        grid-template-columns: 50% 50%;
    }
    @media (orientation: portrait) {
        grid-template-areas:
            "logo"
            "links";
        grid-template-rows: 50% 50%;
    }

    background-color: var(--blue);

    box-sizing: border-box;
    padding: 1vw 3vw 1vw 3vw;

    color: var(--white);
    letter-spacing: 2px;
    line-height: 1.4;

    background-clip: border-box;
}

footer #footer-logos {
    grid-area: logo;
    display: flex;

    flex-direction: row;
    columns: min-content auto;

    height: 100%;
    width: 50%;

    align-items: center;
}

footer #footer-logos #ID {
    max-width: 50%;
    max-height: 100%;
    margin-right: 1em;
}

footer #footer-logos #tu-delft-logo {
    max-width: calc(50% - 1em);
    max-height: 80%;
}

footer #links {
    grid-area: links;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer #links a {
    display: flex;
    flex-direction: row;

    columns: min-content auto;

    align-items: center;
    color: var(--white);
    text-decoration: none;
}

footer #links a img {
    width: 5%;
    aspect-ratio: 1/1;
    margin-right: 1em;
}

footer #links a h3 {
    font-size: 20px;
}

footer #links a #email {
    text-decoration: underline;
}