footer {
    display: grid;
    grid-template-areas:
        "logo logo title"
        "logo logo address"
        "logo logo link"
        "logo logo instagram";

    background-color: var(--gray);

    box-sizing: border-box;
    padding: 3vw 20vw 3vw 10vw;

    letter-spacing: 2px;
    line-height: 1.4;
    justify-content: space-between;

    row-gap: 2vw;
}

footer #footer-logo {
    grid-area: logo;
    display: flex;

    align-self: start;
    flex-direction: row;
    align-items: center;

    columns: min-content auto;
    height: 40%;
}

footer #footer-logo #globe {
    max-width: 25%;
    max-height: 100%;

    margin-right: 5vw;
}

footer #footer-logo #tu-delft-logo {
    max-width: 60%;
    max-height: 80%;
}

footer #footer-title {
    grid-area: title;

    color: white;
    font-size: 25px;
    font-weight: bold;
}

footer #address {
    grid-area: address;

    color: white;
    font-size: 20px;
}

footer #footer-link {
    grid-area: link;

    color: var(--pink);
    font-size: 15px;
    text-decoration-line: underline;
}

footer #instagram-link {
    grid-area: instagram;
}

footer #instagram-link #instagram-logo-img {
    filter: brightness(0) invert(1);
    width: 30px;
    aspect-ratio: 1/1;
}

@media (max-width: 600px) {
    footer {
        display: grid;
        grid-template-areas:
        "... logo ..."
        "... title ..."
        "... address ..."
        "... link ..."
        "... instagram ...";
    }

    footer #footer-logo {
        grid-area: logo;
        display: flex;

        flex-direction: column;
        align-items: center;
    }

    footer #footer-logo #globe {
        max-width: 45%;
        max-height: 100%;

        margin-bottom: 7.5vw;
        margin-top: 5vw;
        margin-left: 10vw;
    }

    footer #footer-logo #tu-delft-logo {
        max-width: 70%;
        max-height: 80%;
    }

    footer #footer-title {
        grid-area: title;
        text-align: center;
        font-size: 30px;
    }

    footer #address {
        grid-area: address;
        text-align: center;
        font-size: 20px;
    }

    footer #footer-link {
        grid-area: link;
        text-align: center;
        font-size: 15px;
    }

    footer #instagram-link {
        grid-area: instagram;
        text-align: center;
    }

    footer #instagram-link #instagram-logo-img {
        width: 50px;
    }
}