footer {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);

    box-sizing: border-box;
    padding: 1em 3em 1.5em 3em;

    color: var(--white);
    letter-spacing: 2px;
    line-height: 1.4;

    background-clip: border-box;
    margin-top: auto;

    @media (orientation: portrait) {
        flex-direction: column-reverse;
        justify-content: flex-start;
        padding-top: 2.5em;
    }
}

footer #footer-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    @media (orientation: landscape) {
        width: 30%;
        min-width: 20em;
    }

    @media (orientation: portrait) {
        max-width: 80vw;
        max-height: 30vh;
    }
}

footer #footer-logos #ID {
    width: 50%;
}

footer #footer-logos #TUD {
    width: calc(50% - 4em);
}

footer #links {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-evenly;

    @media (orientation: portrait) {
        width: 70vw;
    }
}

footer #links a {
    display: flex;
    flex-direction: row;

    align-items: center;
    color: var(--white);
    text-decoration: none;

    @media (orientation: portrait) {
        margin-bottom: .5em;
    }
}

footer #links a img {
    aspect-ratio: 1/1;
    margin-right: 1em;

    @media (orientation: portrait) {
        height: 5vw;
        margin-right: 5vw;
    }
}

footer #insta-line {
    @media (orientation: landscape) {
        padding-left: 0.2em;
    }
}

footer #links a h3 {
    font-size: 1.25em;

    @media (orientation: portrait) {
        font-size: 4vw;
    }
}

footer #links a #email {
    text-decoration: underline;
}