@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-Regular.ttf);
}

@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-ExtraLight.ttf);
    font-weight: 200;
}

body {
    --white: #ffffff;
    --dark-white: #f5f5f7;
    --gray: #26313a;
    --light-gray: #647887;
    --blue: #0368b5;
    --pink: #d94081;

    background-color: var(--white);

    font-family: Jost, sans-serif;
    font-weight: normal;
    color: var(--gray);

    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}

h2 {
    font-weight: bold;
    font-size: 45px;
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    font-size: 25px;
    margin: 0;
}