body {
    --background-white: #f5f5f7;
    --background-gray: #26313a;
    --blue: #0368b5;
    --pink: #d94081;

    background-color: var(--background-white);

    font-family: Arial, sans-serif;
    font-weight: normal;
    color: black;

    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin: 0;
}