@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-Light.ttf);
}

@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-Bold.ttf);
    font-weight: bold;
}

body {
    --background: #f5f5f7;
    --gray: #26313a;
    --blue: #0368b5;
    --pink: #d94081;

    background-color: var(--background);

    font-family: Jost, sans-serif;
    font-weight: normal;
    color: var(--gray);

    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin: 0;
}