body {
    background-color: white;

    font-family: Arial, sans-serif;
    font-weight: normal;
    color: black;

    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}