nav {
    display: flex;
    flex-direction: row;
    height: 8.5vh;
    width: 100%;

    box-sizing: border-box;
    padding: .8vw 8.3vw .8vw 8.3vw;

    align-items: center;
    justify-content: end;
    column-gap: 3%;

    z-index: 2;
}

nav a {
    display: flex;
    height: 100%;

    box-sizing: border-box;
    margin: .5vh 0 .5vh 0;

    align-items: center;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--gray);

    text-decoration: none;
}

nav .current-page {
    letter-spacing: 2px;
    text-decoration-line: underline;
}

nav #contact-button {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    text-decoration-line: none;

    border-radius: 5vh;
    padding: .5vh 1.5vw .5vh 1.5vw;
}

nav #top-logo-link {
    height: 100%;
    margin: 0 auto 0 0;

    justify-self: start;
}

nav #top-logo-link #flightcase-logo-img {
    height: 100%;
}
