nav {
    display: flex;
    flex-direction: row;
    height: 8.5vh;
    width: 100%;

    background-color: var(--red);

    box-sizing: border-box;
    padding: .8vw 2vw .8vw 5vw;

    align-items: center;
    justify-content: end;
    column-gap: 3%;

    z-index: 2;
}

#landingpage-nav {
    background-color: var(--white);
}

nav a {
    display: flex;
    max-height: 100%;

    box-sizing: border-box;
    margin: .5vh 0 .5vh 0;

    align-items: center;

    letter-spacing: 2px;
    color: var(--white);
}

nav .current-page {
    letter-spacing: 2px;
    text-decoration-line: underline;
}

nav #contact-button {
    background-color: var(--blue);
    font-weight: bold;
    text-decoration-line: none;

    border-radius: 5vh;
    padding: 1em;
}

nav #top-logo-link {
    height: 100%;
    margin: 0 auto 0 0;

    justify-self: start;
}

nav #top-logo-link #flightcase-logo-img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}
