.nav-bar {
    display: flex;
    flex-direction: row;
    height: 8.5vh;
    width: 100%;

    box-sizing: border-box;
    padding: .8vw 8.3vw .8vw 8.3vw;

    align-items: center;
    justify-content: end;
    column-gap: 1%;

    z-index: 2;
}

.nav-button {
    display: flex;
    height: 100%;

    box-sizing: border-box;
    padding: .5vh 1.5vw .5vh 1.5vw;

    align-items: center;

    font-size: 20px;
    letter-spacing: 2px;
    color: black;

    text-decoration: none;
}

.nav-current-page {
    letter-spacing: 2px;
    text-decoration-line: underline;
}

#contact-button {
    background-color: #0368b5;
    color: white;
    font-weight: bold;
    text-decoration-line: none;

    border-radius: 5vh;
}

#logo {
    height: 100%;
    margin: 0 auto 0 0;

    justify-self: start;
}
