#banner {
    position: relative;
    width: 100%;

    display: grid;
    grid-template-areas:
        "header"
        "title"
        "buttons";

    box-sizing: border-box;
    padding: 5vw;

    color: var(--white);
    background-color: transparent;
}

#banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
        linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)),
        url("../assets/banners/landingpage-banner.png");
    background-size: cover;
    background-position: center;
    filter: blur(0.08em);
    z-index: -1;
}

#banner h2 {
    grid-area: header;
    margin-top: 1.25em;
    margin-bottom: .5em;
}

#banner h1 {
    grid-area: title;
    width: 75%;
    line-height: 1.1;
    margin-bottom: 0.5em;
}

#banner #buttons {
    grid-area: buttons;
    margin-bottom: 9em;

    display: flex;
    flex-direction: row;
    column-gap: 3%;
    flex-wrap: wrap;
    align-items: center;
}

#banner #buttons a {
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
    border-radius: 100px;
    box-sizing: border-box;
    padding: .5em 2em .5em 2.5em;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#banner #buttons #students-button {
    background-color: var(--white);
    border-color: var(--blue);
    color: var(--blue);
}

@keyframes rotate-partners {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -2000px 0
    }
}

#partners {
    position: relative;

    width: 100%;
    height: 8em;

    background-image: url("../assets/companies.svg");
    background-size: 2000px 100%;
    background-repeat: repeat-x;

    animation: rotate-partners 60s linear infinite;
    margin-top: 1em;
}

#partners h3 {
    position: absolute;
    font-size: 18px;
    font-weight: normal;
    left: 50%;
    transform: translateX(-50%);

    @media (pointer: coarse) and (orientation: landscape) {
        margin-top: -0.8em;
    }
}

#introduction-video {
    position: relative;
    width: 80%;
    aspect-ratio: 16/9;
    margin: 2% 10% 5% 10%;
}

#introduction-video #video {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    visibility: hidden;
}

@keyframes hide-thumbnail {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#introduction-video #thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    cursor: pointer;
}

#introduction-video #play-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 3;

    left: calc(50% - 20px);
    top: calc(50% - 20px);

    cursor: pointer;
}