#opening-section {
    position: relative;
}

#opening-section #banner {
    width: 100%;
    height: 42vh;

    object-fit: cover;
    object-position: 0 40%;
    opacity: 90%;
}

#opening-section #introduction {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;

    box-sizing: border-box;
    padding: 3% 5% 3% 10%;

    width: 75%;
    top: -12vh;
    left: 0;

    background-color: var(--white);
}

#opening-section #introduction h2 {
    color: var(--pink);
    font-size: 60px;
}

#opening-section #introduction h1 {
    color: var(--gray);
    font-size: 85px;
    line-height: 1.2;
}

#opening-section #introduction p {
    color: var(--gray);
    font-size: 27px;
    letter-spacing: 1px;
}

#opening-section #introduction #date {
    color: var(--light-gray);
    font-size: 20px;
}

#introduction-video {
    position: relative;
    width: 80%;
    aspect-ratio: 16/9;
    margin: 0 10% 5% 10%;
}

#introduction-video #video {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    visibility: hidden;
}

@keyframes hide-thumbnail {
    0% {opacity: 1;}
    100% {opacity: 0; visibility: hidden;}
}

#introduction-video #thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    cursor: pointer;
}

#introduction-video #play-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 3;

    left: calc(50% - 20px);
    top: calc(50% - 20px);

    cursor: pointer;
}

#overview-quote {
    background-color: var(--blue);
    color: white;
    letter-spacing: 2px;

    box-sizing: border-box;
    padding: 5% 10% 5% 10%;
}

#overview-quote #quote-text {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2%;
}

#overview-quote #quote-author {
    font-size: 20px;
}

#what-we-offer {
    display: grid;
    grid-template-areas:
        "title title title"
        "card1 card2 card3"
        "benefits benefits benefits";
    background-color: var(--dark-white);
    column-gap: 1%;
    box-sizing: border-box;
    padding: 5% 10% 5% 10%;
}

#what-we-offer h2 {
    grid-area: title;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 1em;
}

#what-we-offer .card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 10%;

    display: flex;
    flex-direction: column;
}

#what-we-offer .card .card-image {
    width: 25%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

#what-we-offer #card1 {
    grid-area: card1;
}

#what-we-offer #card2 {
    grid-area: card2;
}

#what-we-offer #card3 {
    grid-area: card3;
}

#what-we-offer .card h3 {
    font-size: 30px;
}

#what-we-offer .card p {
    font-size: 20px;
    color: var(--light-gray)
}

#what-we-offer #benefits {
    grid-area: benefits;
}

#our-experience {
    display: grid;
    grid-template-areas:
        "title title"
        "collaborations collaborations"
        "destinations example";

    background-color: var(--dark-white);
    box-sizing: border-box;
    padding: 5% 10% 5% 10%;
    gap: 1%;
}

#our-experience h2 {
    grid-area: title;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0.5em;
}

#our-experience .card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 5%;

    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#our-experience #collaborations {
    grid-area: collaborations;
}

#our-experience #destinations {
    grid-area: destinations;
}

#our-experience #example {
    grid-area: example;
}

#our-experience #example img, #our-experience #destinations img {
    aspect-ratio: 2/1;
}

#our-experience .card h3 {
    font-size: 30px;
    font-weight: 500;
}

#our-experience .card p {
    font-size: 20px;
    color: var(--light-gray)
}

#our-experience .card img {
    max-width: 100%;
    object-fit: contain;
}

#our-experience .card a {
    width: 100%;
    background-color: var(--pink);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    border-radius: 100px;
    padding: 1em 0 1em 0;
    font-weight: bold;
    font-size: 20px;
}

#seperator {
    width: 100%;
    height: 5px;
    background-color: var(--pink);
}

#sounds-interesting {
    background-color: var(--white);
    box-sizing: border-box;
    padding: 2.5%;

    display: flex;
    flex-direction: column;
    row-gap: 1.8em;

    align-items: center;
}

#sounds-interesting h2 {
    letter-spacing: 3px;
}

#sounds-interesting #interested-links {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

#sounds-interesting a {
    background-color: var(--white);
    color: var(--blue);

    border-style: solid;
    border-width: 2px;
    border-color: var(--blue);

    text-decoration: none;

    border-radius: 100px;
    padding: .8em 1.6em .8em 1.6em;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
}

#sounds-interesting #contact-us {
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

#sounds-interesting p {
    color: var(--light-gray);
    font-size: 18px;
}

@media (orientation: portrait){
    #opening-section #banner {
        height: 32vh;
        object-position: 0 40%;
    }

    #opening-section #introduction {
        padding: 3% 5% 0% 10%;
    }

    #opening-section #introduction h2 {
        font-size: 30px;
    }

    #opening-section #introduction h1 {
        font-size: 45px;
        line-height: 1;
    }

    #opening-section #introduction p {
        font-size: 20px;
    }

    #opening-section #introduction #date {
        font-size: 15px;
    }

    #overview-quote {
        letter-spacing: 2px;

        box-sizing: border-box;
        padding: 5% 10% 5% 10%;
    }

    #overview-quote #quote-text {
        font-size: 25px;
    }

    #overview-quote #quote-author {
        font-size: 14px;
    }

    #what-we-offer {
        display: grid;
        grid-template-areas:
        "title title title"
        "card1 card1 card1"
        "card2 card2 card2"
        "card3 card3 card3"
        "benefits benefits benefits";
        column-gap: 1%;
        box-sizing: border-box;
        padding: 5% 10% 5% 10%;
    }

    #what-we-offer h2 {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    #what-we-offer .card {
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        padding: 10%;
        margin: 0% 0% 5% 0%;
        display: grid;
        grid-template-areas:
        "image head head"
        "text text text";
    }

    #what-we-offer .card .card-image {
        width: 60%;
        height: 90%;
        aspect-ratio: 1/1;
        object-fit: contain;
        grid-area: image;
    }

    #what-we-offer #card1 {
        grid-area: card1;
    }

    #what-we-offer #card2 {
        grid-area: card2;
    }

    #what-we-offer #card3 {
        grid-area: card3;
    }

    #what-we-offer .card h3 {
        font-size: 30px;
        grid-area: head;
        line-height: 1.2;
        margin-bottom: 0.5em;
    }

    #what-we-offer .card p {
        font-size: 20px;
        grid-area: text;
    }

    #what-we-offer #benefits {
        grid-area: benefits;
    }

    #our-experience {
        display: grid;
        grid-template-areas:
        "title title"
        "collaborations collaborations"
        "destinations destinations"
        "example example";

        padding: 5% 10% 15% 10%;
        gap: 1%;
    }

    #our-experience h2 {
        grid-area: title;
        font-size: 40px;
        margin-bottom: 0em;
    }

    #our-experience .card {
        box-sizing: border-box;
        padding: 10%;
        margin: 0% 0% 2% 0%;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }

    #our-experience #collaborations {
        grid-area: collaborations;
    }

    #our-experience #destinations {
        grid-area: destinations;
    }

    #our-experience #example {
        grid-area: example;
    }

    #our-experience #example img, #our-experience #destinations img {
        aspect-ratio: 2/1;
    }

    #our-experience .card h3 {
        font-size: 30px;
        font-weight: 500;
    }

    #our-experience .card p {
        font-size: 20px;
    }

    #our-experience .card img {
    }

    #our-experience .card a {
    }

    #seperator {
    }

    #sounds-interesting {
        box-sizing: border-box;
        padding: 2.5%;

        display: flex;
        flex-direction: column;
        row-gap: 1em;

        align-items: center;
    }

    #sounds-interesting h2 {
        letter-spacing: 3px;
        font-size: 40px;
    }

    #sounds-interesting #interested-links {
        display: flex;
        flex-direction: column;
        column-gap: 1em;
    }

    #sounds-interesting a {
        border-radius: 100px;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding: .8em 1.6em .8em 1.6em;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 20px;
    }

    #sounds-interesting #contact-us {
    }

    #sounds-interesting p {
        font-size: 20px;
    }
}