#opening-section {
    position: relative;
}

#opening-section #banner {
    width: 100%;
    height: 42vh;

    object-fit: cover;
    object-position: 0 40%;
    opacity: 90%;
}

#opening-section #introduction {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;

    box-sizing: border-box;
    padding: 3% 5% 3% 10%;

    width: 75%;
    top: -12vh;
    left: 0;

    background-color: var(--white);
}

#opening-section #introduction h2 {
    color: var(--pink);
    font-size: 60px;
}

#opening-section #introduction h1 {
    color: var(--gray);
    font-size: 85px;
    line-height: 1.2;
}

#opening-section #introduction p {
    color: var(--gray);
    font-size: 27px;
    letter-spacing: 1px;
}

#opening-section #introduction #date {
    color: var(--light-gray);
    font-size: 20px;
}

#introduction-video {
    position: relative;
    width: 80%;
    aspect-ratio: 16/9;
    margin: 0 10% 5% 10%;
}

#introduction-video #video {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    visibility: hidden;
}

@keyframes hide-thumbnail {
    0% {opacity: 1;}
    100% {opacity: 0; visibility: hidden;}
}

#introduction-video #thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    cursor: pointer;
}

#introduction-video #play-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 3;

    left: calc(50% - 20px);
    top: calc(50% - 20px);

    cursor: pointer;
}

#overview-quote {
    background-color: var(--blue);
    color: white;
    letter-spacing: 2px;

    box-sizing: border-box;
    padding: 5% 10% 5% 10%;
}

#overview-quote #quote-text {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2%;
}

#overview-quote #quote-author {
    font-size: 20px;
}

#what-we-offer {
    display: grid;
    grid-template-areas:
        "title title title"
        "card1 card2 card3"
        "benefits benefits benefits";
    background-color: var(--dark-white);
    column-gap: 1%;
    row-gap: 5%;
    box-sizing: border-box;
    padding: 5% 10% 5% 10%;
}

#what-we-offer #what-we-offer-title {
    grid-area: title;
    font-size: 40px;
    letter-spacing: 2px;
}

#what-we-offer .card {
    position: relative;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 10%;

    display: flex;
    flex-direction: column;
}

#what-we-offer .card .card-image {
    width: 25%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

#what-we-offer #card1 {
    grid-area: card1;
}

#what-we-offer #card2 {
    grid-area: card2;
}

#what-we-offer #card3 {
    grid-area: card3;
}

#what-we-offer .card h3 {
    font-size: 30px;
}

#what-we-offer .card p {
    font-size: 20px;
    color: var(--light-gray)
}
