#banner {
    position: relative;
    width: 100%;

    display: grid;
    grid-template-areas:
        "header"
        "title"
        "buttons";

    box-sizing: border-box;
    padding: 5vw;

    background-image:
        linear-gradient(90deg, rgba(0, 0, 0, 0.3), transparent),
        url("../assets/banners/landingpage-banner.png");
    background-size: cover;
    background-position: center;

    color: var(--white);
}

#banner h2 {
    grid-area: header;
    margin-bottom: .5em;
}

#banner h1 {
    grid-area: title;
    width: 75%;
    line-height: 1.0;
    margin-bottom: 1em;
}

#banner #buttons {
    grid-area: buttons;
    margin-bottom: 10em;

    display: flex;
    flex-direction: row;
    column-gap: 3%;
    flex-wrap: wrap;
}

#banner #buttons a {
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
    border-radius: 100px;
    box-sizing: border-box;
    padding: .5em 4em .5em 4em;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    margin-bottom: 1em;
}

#banner #buttons #students-button {
    background-color: var(--white);
    border-color: var(--blue);
    color: var(--blue);
}

@keyframes rotate-partners {
    0% {background-position: 0 0}
    100% {background-position: -2000px 0}
}

#partners {
    position: relative;

    width: 100%;
    @media (orientation: landscape) {
        height: 15vh;
    }
    @media (orientation: portrait) {
        height: 5vh;
    }

    background-image: url("../assets/companies.svg");
    background-size: 2000px 100%;
    background-repeat: repeat-x;

    animation: rotate-partners 60s linear infinite;
    margin-top: 1em;
}

#partners h3 {
    position: absolute;
    font-size: 18px;
    font-weight: normal;
    left: 50%;
    transform: translateX(-50%);

    @media (pointer: coarse) and (orientation: landscape) {
        margin-top: -0.8em;
    }
}

#introduction-video {
    position: relative;
    width: 80%;
    aspect-ratio: 16/9;
    margin: 5% 10% 5% 10%;
}

#introduction-video #video {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    visibility: hidden;
}

@keyframes hide-thumbnail {
    0% {opacity: 1;}
    100% {opacity: 0; visibility: hidden;}
}

#introduction-video #thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    cursor: pointer;
}

#introduction-video #play-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 3;

    left: calc(50% - 20px);
    top: calc(50% - 20px);

    cursor: pointer;
}
