#banner {
    position: relative;
    width: 100%;

    display: grid;
    grid-template-areas:
        "title"
        "button";

    box-sizing: border-box;
    padding: 5vw;

    background-image:
            linear-gradient(90deg, rgba(0, 0, 0, 0.3), transparent),
            url("../assets/banners/landingpage-banner.png");
    background-size: cover;
    background-position: center;

    color: var(--white);
}

#banner h1 {
    grid-area: title;
    width: 75%;
    line-height: 1.0;
    margin-bottom: 1em;
}

#banner a {
    grid-area: button;
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
    border-radius: 100px;
    box-sizing: border-box;
    padding: .5em 4em .5em 4em;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    margin-bottom: 11em;

    @media (orientation: landscape) {
        width: 30%;
    }
    @media (orientation: portrait) {
        width: 100%;
    }
}

#basic-information {
    display: grid;
    @media (orientation: landscape) {
        grid-template-areas:
        "title title"
        "opening image";
        column-gap: 5%;
    }
    @media (orientation: portrait) {
        grid-template-areas:
        "title"
        "opening"
        "image";
    }

    box-sizing: border-box;
    padding: 5% 10% 5% 10%;
}

#basic-information h1 {
    grid-area: title;
    margin-bottom: .5em;
}

#basic-information p {
    grid-area: opening;
    align-self: center;
    @media (orientation: portrait) {
        margin-bottom: 2em;
    }
}

#basic-information img {
    grid-area: image;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--red);
}

#what-we-offer {
    padding: 3% 10% 5% 10%;
    background-color: var(--white);

    display: grid;
    @media (orientation: landscape) {
        grid-template-areas:
            "title title"
            "card1 card2"
            "card3 card4"
            "note note";
    }
    @media (orientation: portrait) {
        grid-template-areas:
            "title"
            "card1"
            "card2"
            "card3"
            "card4"
            "note";
    }

    column-gap: 1%;
}

#what-we-offer h2 {
    grid-area: title;
    margin-bottom: .5em;
}

#what-we-offer .card {
    background-color: var(--white);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    color: var(--red);
    border-color: var(--red);
    box-sizing: border-box;
    padding: 5%;
    margin-bottom: 2.5%;

    display: flex;
    flex-direction: column;
    row-gap: 1em;

    align-items: start;
}

#what-we-offer .card h3 {
    letter-spacing: 2px;
}

#what-we-offer .card p {
    letter-spacing: 1px;
}

#what-we-offer .card img {
    width: 15%;
    aspect-ratio: 1 / 1;
}

#what-we-offer #offer-card1 {
    grid-area: card1;
}

#what-we-offer #offer-card2 {
    grid-area: card2;
}

#what-we-offer #offer-card3 {
    grid-area: card3;
}

#what-we-offer #offer-card4 {
    grid-area: card4;
}

#what-we-offer #footnote {
    @media (orientation: landscape) {
        text-align: center;
    }
    grid-area: note;
}

#students-faq {
    background-color: var(--white);
    padding: 5% 10% 5% 10%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 20% auto;
    column-gap: 5%;
}

#students-faq h2 {
    grid-column: 1;
}

#students-faq #faq-container {
    grid-column: 2;
}