#opening-section {

}

#opening-section #photo-banner {
    width: 100%;
    height: 40vh;

    object-fit: cover;
    background-color: var(--dark-white);
}

#opening-section #introduction {
    display: grid;
    grid-template-areas:
        "title image"
        "text image"
        "apply image";

    grid-template-columns: auto min-content;
    grid-template-rows: min-content auto min-content;
    box-sizing: border-box;
    padding: 5% 10% 5% 10%;
}

#opening-section #introduction h2 {
    grid-area: title;
    padding-bottom: .5em;
    letter-spacing: 2px;
    font-weight: 500;
}

#opening-section #introduction p {
    grid-area: text;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}

#opening-section #introduction a {
    grid-area: apply;

    font-size: 30px;
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--pink);
}

#opening-section #introduction img {
    grid-area: image;
    max-height: 40vh;
    align-self: center;
    justify-self: end;
}

#what-we-offer {
    padding: 3% 10% 5% 10%;
    background-color: var(--dark-white);

    display: grid;
    grid-template-areas:
        "title title"
        "card1 card2"
        "card3 card4";

    row-gap: 2.5%;
    column-gap: 1%;
}

#what-we-offer h2 {
    grid-area: title;
}

#what-we-offer .card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 5%;

    display: flex;
    flex-direction: column;
    row-gap: 1em;

    align-items: start;
}

#what-we-offer .card h3 {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 2px;
}

#what-we-offer .card p {
    font-size: 18px;
    color: var(--light-gray);
    letter-spacing: 1px;
}

#what-we-offer .card img {
    max-height: 75px;
    object-fit: contain;
    aspect-ratio: initial;
}

#what-we-offer #offer-card1 {
    grid-area: card1;
}

#what-we-offer #offer-card2 {
    grid-area: card2;
}

#what-we-offer #offer-card3 {
    grid-area: card3;
}

#what-we-offer #offer-card4 {
    grid-area: card4;
}

#timeline {
    padding: 3% 10% 5% 10%;
    background-color: var(--dark-white);

    display: grid;
    grid-template-areas:
        "title title title"
        "subtitle subtitle subtitle"
        "card1 card2 card3"
        "course course course"
        "date date date";

    column-gap: 1%;
}

#timeline h2 {
    grid-area: title;
    padding-bottom: 1em;
}

#timeline h3 {
    grid-area: subtitle;
    padding-bottom: 1em;
    font-size: 30px;
    font-weight: 500;
}

#timeline .card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

#timeline .card img {
    max-height: 35%;
    max-width: 100%;
    object-fit: cover;
}

#timeline .card .card-text {
    box-sizing: border-box;
    padding: 10%;
    letter-spacing: 1px;
}

#timeline .card .card-text h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 1em;
}

#timeline .card .card-text p {
    font-size: 18px;
    color: var(--light-gray);
}

#timeline .card .card-text h5 {
    font-size: 18px;
    color: black;
    margin: 0;
    font-weight: normal;
}

#timeline .card .card-text .time {
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--pink);
    padding-bottom: 1em;
}

#timeline .card .card-text a {
    color: var(--blue);
    opacity: 0.9;
}

#timeline #timeline-card1 {
    grid-area: card1;
}

#timeline #timeline-card2 {
    grid-area: card2;
}

#timeline #timeline-card3 {
    grid-area: card3;
}

#timeline #course-title {
    grid-area: course;
    padding-top: 2em;
}

#timeline #course-date {
    grid-area: date;
    color: var(--light-gray);
    font-size: 18px;
    text-align: center;
}

#students-faq {
    background-color: var(--white);
    padding: 5% 10% 5% 10%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 5%;
}

#students-faq h2 {
    grid-column: 1;
}

#students-faq #faq-container {
    grid-column: 2;
}